body{
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.infoSection{
  background: rgb(196, 196, 134);
  width: 300px;
  height: 50%;
  margin: 30px;
  /* margin-bottom: 40%; */
  padding: 15px;
  border-radius: 20px;
  color: red;
  text-align: left;
  overflow: scroll;

}

.container{
  background: aquamarine;
  background-size: cover;
  height: 100vh;
}

.nasa-data{
  background: salmon;
}

li{
  list-style-type: none;
}

.center{
  align-items: center;
}

svg{
  display: block;
  margin: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

